<table>
<tr>
  <td><input type="button" name="seven" value="   7    " (click)="PushValue('7')"></td>
  <td><input type="button" name="eight" value="   8    " (click)="PushValue('8')"></td>
  <td><input type="button" name="nine" value="   9    " (click)="PushValue('9')"></td>
  <td><input type="button" name="mul" value="   x    " (click)="PushValue('*')"></td>
</tr>
<tr>
  <td><input type="button" name="four" value="   4    " (click)="PushValue('4')"></td>
  <td><input type="button" name="five" value="   5    " (click)="PushValue('5')"></td>
  <td><input type="button" name="six" value="   6    " (click)="PushValue('6')"></td>
  <td><input type="button" name="sub" value="   -    " (click)="PushValue('-')"></td>
</tr>
<tr>
  <td><input type="button" name="one" value="   1    " (click)="PushValue('1')"></td>
  <td><input type="button" name="two" value="   2    " (click)="PushValue('2')"></td>
  <td><input type="button" name="three" value="   3    " (click)="PushValue('3')"></td>
  <td><input type="button" name="add" value="   +    " (click)="PushValue('+')"></td>
</tr>
<tr>
  <td><input type="button" name="div" value="   /    " (click)="PushValue('/')"></td>
  <td><input type="button" name="one" value="   0    " (click)="PushValue('0')"></td>
  <td><input type="button" name="AC" value="   C    " (click)="PushValue('C')"></td>
  <td><input type="button" name="result" value="   =    " (click)="PushValue('=')"></td>
</tr>
</table>
